{% extends "task_app/base.html" %}

{% block title %}Вход{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Личный кабинет</h2>
    <ul class="list-group">
        <li class="list-group-item"><strong>Имя пользователя:</strong> {{ user.username }}</li>
        <li class="list-group-item"><strong>Email:</strong> {{ user.email }}</li>
        <li class="list-group-item"><strong>Должность:</strong> {{ user.position }}</li>
        <li class="list-group-item"><strong>Компания:</strong> {{ user.company }}</li>
    </ul>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-secondary mt-3">Выйти</button>
    </form>
</div>
{% endblock %}
