{% extends "task_app/base.html" %}

{% block title %}Список задач{% endblock %}

{% block content %}
<div class="d-flex gap-2 mt-2">
    <a href="{% url 'task_create' %}" class="btn btn-primary">Создать задачу</a>
    {% if request.GET.completed == '1' %}
    <a href="{% url 'task_list' %}" class="btn btn-outline-secondary">Список активных задач</a>
    {% else %}
    <a href="{% url 'task_list' %}?completed=1" class="btn btn-secondary">Просмотреть завершённые</a>
    {% endif %}
</div>
<h1>Список задач {% if user.company%}{{ user.company }}{% endif %}</h1>
<hr>
{% for task in task_list %}
<li class="list-group-item">
    <a href="{% url 'task_detail' task.id %}"><h3>{{ task.title }}</h3></a>
    {% if task.parent_task %}
    <h5>Главная задача: <a href="{% url 'task_detail' task.parent_task.id %}">{{ task.parent_task.title }}</a></h5>
    {% endif %}
    {% if task.user.first_name and task.user.last_name %}
    <p>Исполнитель: {{ task.user.first_name }} {{ task.user.last_name }}</p>
    {% else %}
    <p>Исполнитель: {{ task.user.email }}</p>
    {% endif %}
    <p>{{ task.description }}</p>
    <small style="color: grey;">
        Статус: {{ task.get_status_display }} | Дата создания: {{ task.created_at }} | Крайний срок: {{ task.deadline }}
    </small>
    <br>
    <div class="d-flex gap-2 mt-2">
        <a href="{% url 'task_update' task.id %}" class="btn btn-primary">Изменить задачу</a>
        <form action="{% url 'task_completed' task.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-success">Завершить задачу</button>
        </form>

    </div>
    <hr>
</li>
{% endfor %}
{% endblock %}