{% extends "task_app/base.html" %}

{% block title %}Список задач{% endblock %}

{% block content %}
<a href="{% url 'task_create' %}">Создать задачу</a>
<h1>Список задач</h1>
{% for task in task_list %}
{% if task.status == 'IN_PROGRESS' or task.status == 'PENDING' %}
<li class="list-group-item">
    <a href="{% url 'task_detail' task.id %}"><h3>{{ task.title }}</h3></a>
    {% if task.parent_task %}
    <h5>Главная задача: <a href="{% url 'task_detail' task.parent_task.id %}">{{ task.parent_task.title }}</a></h5>
    {% endif %}
    <p>Исполнитель: {{ task.user }}</p>
    <p>{{ task.description }}</p>
    <small>
        Статус: {{ task.status }} | Дата создания: {{ task.created_at }} | Последнее обновление: {{ task.updated_at }}
    </small>
    <br>
    <a href="{% url 'task_update' task.id %}" class="btn btn-primary">Изменить задачу</a>
    <form action="{% url 'task_completed' task.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-success">Завершить задачу</button>
    </form>
    <hr>
</li>
{% endif %}
{% endfor %}
{% endblock %}